.expertise-container {
  padding: 110px 80px 0;
}

.expertise-container h2 {
  color: var(--color-black);
  font-family: var(--font-regular);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.expertise-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  list-style-type: none;
}

.expertise-item {
  padding: 30px;
  border-radius: 5px;
  background-color: var(--background-gray);
  border: 2px solid var(--border-gray);
  position: relative;
}

.expertise-top {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.expertise-top img {
  height: auto;
  max-width: 200px;
}

.small-icon {
  width: 30px;
}

.expertise-details {
  font-family: var(--font-regular);
  color: var(--color-black);
  margin-bottom: 20px;
}

.expertise-details h3 {
  font-family: var(--font-regular);
  color: var(--color-black);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 24px;
}

.role-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}

.expertise-bottom h4 {
  font-family: var(--font-regular);
  font-weight: 700;
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: 20px;
}

.activities-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-left: 20px;
  font-family: var(--font-regular);
  color: var(--color-gray);
  margin-bottom: 20px;
  overflow: hidden;
}

.read-more-button {
  margin-top: 0;
}

.active .button-wrapper {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .expertise-container {
    padding: 140px 30px 80px;
  }

  .expertise-item {
    padding: 20px;
  }

  .expertise-top {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 800px) {
  .expertise-container {
    padding: 140px 15px 80px;
  }

  .expertise-item {
    padding: 15px;
  }

  .expertise-top {
    flex-direction: column-reverse;
  }
}