.skill-container {
  padding: 0 80px;
}

.skill-container ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-container ul li {
  background-color: var(--background-gray);
  border: 2px solid var(--color-gray);
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-gray);
  font-family: var(--font-regular);
  transition: all 0.3s ease-in-out;
}

.skill-container ul li:hover {
  transform: scale(1.05);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
