@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik-regular.ttf") format("truetype");
}

:root {
  --background-white: #f7f8f9;
  --color-black: #26272a;
  --color-gray: #4e545f;
  --accent-color: #5463e6;
  --accent-color-active: #4b58ce;
  --border-gray: #4e545f;
  --font-regular: "Rubik";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-white);
}
